h1, h2, h3, p, ul, label, a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #2E073F;
    margin: 0;
    height: auto;
    overflow-x: hidden;
}

header{
    position: fixed;
    background-color: #7b3485;
    width: 100%;
    height: 15dvh;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease-in-out;
}

.logo{
    margin-left: 1rem;
    font-size: 40px;
    color: #fff;
}

.abrir--menu, .cerrar--menu{
    display: none;

}

ul, a{
    list-style: none;
    text-decoration: none;
}

.nav--item{
    color: #fff;
    font-size: 18px;
}

.nav--icon{
    font-size: 28px;
    background-color: transparent;
    border: none;
}

.submenu:hover #carrito{
    display: flex;
}

#carrito{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 4%;
    width: auto;
    min-height: 400px;
    height: auto;
    background-color: #fff;
}

#lista-carrito{
    width: 100%;
    padding: 0 1rem;
}


th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
  text-align: center; 
}
th:first-child, td:first-child {
  padding-left: 15px; 
}
th:last-child, td:last-child {
  padding-right: 15px; 
}

.borrar-curso{
    position: relative;
    font-size: 20px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 50%;
    background-color: red;
}

#vaciar-carrito{
    margin-bottom: 1rem;
    border: 3px solid rgb(131, 10, 10);
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;

}

.nav--icon--p{
    display: none;
}

ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 1rem;
    padding: 0;
}

#searcher--desktop{
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searcher--conteiner--desktop{
    width: 51vw;
    height: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 30px;
}

.searcher--desktop{
    height: 85%;
    width: 90%;
    border: none;
    font-size: 16px;
    gap: 1rem;
    outline: none;
    border-radius: 30px;
}

#searcher{
    display: none;
}

.searcher--conteiner{
    width: 95%;
}

.searcher--icon{
    font-size: 25px;
}

.searcher{
    width: 95%;
    height: 50%;
    border: none;
    border-radius: 30px;
    padding: 1rem;
    font-size: 16px;
    outline: none;
}

#productos{
    width: 100%;
    height: 400px;
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-auto-rows: 150% 150%;
    grid-template-columns: 18% 18% 18% 18% 18%;
}

.product{
    width: 95%;
    height: 95%;
    background-color: #791bab;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.product--img{
    width: 100%;
    height: 250px;
    padding-top: 1rem;
    object-fit: contain;
}

.product--text{
    color: #fff;
    font-weight: 400;
}

.product--text h3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product--title{
    padding-left: 1rem;
    width: 90%;
}

.product--price{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.product--price--minorist, .product--price--mayorist{
    margin: 0;
}

.product--button{
    margin-left: 1rem;
    padding: 10px 15px;
    border: none;
    background-color: #2f0740;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.filtrar--contenedor{
    width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20dvh;
}

.filter--icon{
    padding-left: 5rem;
}

.filtrar--contenedor input{
    visibility: hidden;
}

#hasta{
    visibility: visible;
}

.filtrar--contenedor label{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filtros{
    width: 80%;
    height: 10dvh;
    padding-left: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    margin: auto;
    gap: 5rem;
    border-radius: 20px;
}

.filtros label{
    font-size: 20px;
    color: #111;
}

.filtros input{
    padding: 5px 10px;
}

#filtros--input{
    background-color: #2f0740;
    font-weight: 700;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.invisible{
    display: none;
}

.visible{
    visibility: visible;
}


@media screen and (max-width:768px) {
    .abrir--menu, .cerrar--menu{
        display: block;
        background-color: transparent;
        border: none;
        margin-right: 1rem;
        font-size: 30px;
        color: #FFF4B7;
    }

    header{
        position: fixed;
        width: 100dvw;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2rem;
        display: flex;
        
    }

    .logo--conteiner{
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        width: 100%;
    }

    nav{
        visibility: hidden;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        z-index: 3;
        background-color: #AD49E1;
        height: 100dvh;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .visible{
        opacity: 1;
        visibility: visible;
    }

    ul{
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    a{
        display: flex;
        height: 61px;
        align-items: center;
        gap: 1rem;
        color: #fff;
    }

    .nav--item{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }

    .nav--icon--p{
        display: block;
        font-size: 18px;
        margin: 0;
    }

    #searcher--desktop{
        display: none;
    }

    #searcher{
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 10rem;
        padding: 0;
    }

    .searcher--conteiner{
        width: 85%;
        margin: auto;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 30px;
    }

    .searcher{
        width: 60%;
        height: 42%;
    }

    .filtrar--contenedor{
        margin-top: 5dvh;
    }

    .filter--icon{
        padding: 0;
    }

    .filtros{
        padding: 0;
        width: 100%;
        height: auto;
        gap: 2rem;
        border-radius: 0;
        flex-direction: column;
    }

    .categoria--contenedor{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    #filtros--input{
        visibility: visible;
        margin-bottom: 2rem;
    }

    #productos{
        width: 100%;
        height: 400px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 50% 50%;
    }

    .product--img{
        object-fit: contain;
    }

    .submenu:hover #carrito{
        display: none;
    }
}